@font-face {
  font-family: bonzer;
  src: url("../fonts/bonzer_san_francisco/Bonzer - San Francisco.ttf");
}

@font-face {
  font-family: ibm;
  src: url("../fonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Regular.ttf");
}

@font-face {
  font-family: ibm-bold;
  src: url("../fonts/IBMPlexSansThaiLooped/IBMPlexSansThaiLooped-Bold.ttf");
}
