@import "./fonts.css";
@import "./navbar.css";
@import "./sections/home.css";
@import "./sections/intro.css";
@import "./sections/rules.css";
@import "./sections/schedule.css";
@import "./sections/timetable.css";
@import "./sections/online.css";
@import "./sections/softwares.css";
@import "./sections/register.css";
@import "./sections/contact.css";
@import "./sections/footer.css";

:root {
  --navbar-height: 120px;
}

* {
  box-sizing: border-box !important;
  font-family: ibm;
  color: white;
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #0a1117;
  overflow-x: hidden;
}

.section {
  position: relative;
  padding: 30px;
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 20px;
  margin: 0;
  margin-bottom: 50px;
}

.container {
  position: relative;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.to-black-cover {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(to bottom, #00000000 50%, #0a1117);
}

.to-transparent-cover {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(to bottom, #0a1117 50%, #00000000);
}

.cover.top {
  top: 0;
}

.cover.bottom {
  bottom: 0;
}

img {
  user-select: none;
  pointer-events: none;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body .section:not(:last-child) {
  margin-bottom: 50px;
}
