#navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: var(--navbar-height);
  padding: 0 16px;
  transition: transform 0.3s ease;
  user-select: none;
  z-index: 9;
}

#navbar-hamburger {
  position: absolute;
  display: none;
  width: 35px;
  height: 35px;
  right: calc((var(--navbar-height) - 35px) / 2);
  cursor: pointer;
  z-index: 11;
  transition: transform 0.3s ease;
}

#navbar-hamburger > span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 3px;
  background-color: white;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

#navbar-hamburger > span:nth-child(1) {
  transform: translate(-50%, -500%);
}

#navbar-hamburger > span:nth-child(3) {
  transform: translate(-50%, 400%);
}

#navbar-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-link {
  position: relative;
  color: white;
  text-decoration: none;
}

#navbar-links .navbar-link:not(:last-child) {
  margin-right: 20px;
}

#navbar-drawer .navbar-link:not(:last-child) {
  margin-bottom: 50px;
}

.navbar-link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 3px;
  background-color: white;
  margin: 0 auto;
  transition: width 0.3s ease;
}

.navbar-link.active::after {
  width: 100%;
}

#navbar-drawer {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 100vh;
  top: 0;
  right: -300px;
  padding: var(--navbar-height) 16px 16px;
  z-index: 10;
  overflow-y: auto;
  transition: right 0.3s ease;
}

#navbar.open #navbar-hamburger {
  transform: rotateZ(135deg);
}

#navbar.open #navbar-drawer {
  right: 0;
}

#navbar.open #navbar-hamburger > span:nth-child(1) {
  position: absolute;
  transform: translate(-50%, -50%) rotateZ(90deg);
}

#navbar.open #navbar-hamburger > span:nth-child(2) {
  display: none;
}

#navbar.open #navbar-hamburger > span:nth-child(3) {
  position: absolute;
  transform: translate(-50%, -50%) rotateZ(0deg);
}

@media screen and (max-width: 950px) and (min-width: 801px) {
  .navbar-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  #navbar {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }

  #navbar > .navbar-cover {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }

  #navbar-hamburger,
  #navbar-drawer {
    display: flex;
  }

  #navbar-links {
    display: none;
  }
}
