#contact-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-card {
  display: flex;
  align-items: center;
  margin: 20px;
}

.contact-card > .contact-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-right: 20px;
}

.contact-card > .contact-card-icon > img {
  max-width: 100%;
  max-height: 100%;
}

.contact-card > .contact-card-details > p {
  font-weight: bold;
  margin: 0;
}

.contact-card > .contact-card-details > p:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  #contact-contacts {
    max-width: 500px;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
  }
}
