#footer-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-section .container > :not(:last-child) {
  margin-bottom: 20px;
}

#footer-cs-camp-logo {
  max-width: 350px;
  width: 100%;
}

#footer-section p {
  text-align: center;
  margin: 0;
}

#footer-all-kmitl {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 30px;
}

#footer-all-kmitl img:not(:last-child) {
  margin: 0 20px 0 0;
}

#footer-all-kmitl img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  #footer-all-kmitl {
    flex-direction: column;
  }

  #footer-all-kmitl img:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
