#intro-section {
  background-image: url(../../images/backgrounds/advertise.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
}

#intro-section > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#intro-logo {
  margin: 0 50px 0 0;
}

#intro-logo {
  display: flex;
  align-items: center;
}

#intro-logo :not(:last-child) {
  margin-right: 20px;
}

#intro-cs-logo {
  max-width: 100px;
  height: auto;
}

#intro-x {
  font-size: 50px;
}

#intro-cs-camp-logo {
  max-width: 200px;
  height: auto;
}

#intro-text {
  max-width: 500px;
  text-align: center;
}

@media screen and (max-width: 916px) {
  #intro-cs-logo {
    max-width: 80px;
    height: auto;
  }

  #intro-x {
    font-size: 30px;
  }

  #intro-cs-camp-logo {
    max-width: 180px;
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  #intro-section > .container {
    flex-direction: column;
  }
  #intro-logo {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 420px) {
  #advertise-cs-logo {
    max-width: 50px;
    height: auto;
  }

  #advertise-x {
    font-size: 30px;
  }

  #advertise-cs-camp-logo {
    max-width: 150px;
    height: auto;
  }
}
