#online-accessories {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
}

.online-accessories-card {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.online-accessories-card:not(:last-child) {
  margin: 0 50px 0 0;
}

.online-accessories-card :first-child {
  margin-bottom: 10px;
}

.online-accessories-card p {
  margin: 0;
}

.online-accessories-card > div {
  width: 100%;
  height: 3px;
  background-color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  #online-accessories {
    flex-direction: column;
    align-items: center;
  }

  .online-accessories-card:not(:last-child) {
    margin: 0 0 50px 0;
  }
}
