#register-register {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#register-register img {
  max-width: 400px;
  width: 100%;
  height: auto;
}

#register-ticket {
  position: relative;
  max-width: 400px;
  width: 100%;
  height: 200px;
  margin: 0 auto 20px auto;
}

#register-ticket-image {
  width: 100%;
  height: 100%;
  background-image: url(../../images/ticket.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#register-ticket:hover #register-ticket-image {
  background-image: url(../../images/ticket_hover.png);
}
