#rules-rules {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.rule-card {
  position: relative;
  display: grid;
  grid-template-rows: 300px 1fr;
  max-width: 300px;
  gap: 30px;
}

.rule-card > img {
  max-width: 200px;
  max-height: 100%;
  margin: auto;
}

.rule-card > .rule-card-description {
  text-align: center;
}

@media screen and (max-width: 800px) {
  #rules-rules {
    flex-direction: column;
  }
}
