#schedule-section {
  background-image: url(../../images/backgrounds/map.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#schedule-image {
  margin: auto;
  text-align: center;
}

#schedule-section img {
  width: 100%;
}

@media screen and (max-width: 800px) {
  #schedule-section img {
    max-width: 300px;
    margin: auto;
  }
}
