#software-section > .container {
  display: flex;
  flex-direction: column;
}

#software-softwares {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.software-card:not(:last-child) {
  margin: 0 20px 0 0;
}

.software-card {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
  text-align: center;
}

.software-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
}

.software-card img {
  max-width: 100%;
}

.software-card a {
  color: #1b93d7;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  #software-softwares {
    flex-direction: column;
  }

  .software-card:not(:last-child) {
    margin: 0 0 20px 0;
  }
}
