#timetable-section {
  background-image: url(../../images/backgrounds/timetable.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#timetable-timetables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#timetable-timetables > img {
  max-height: 400px;
  margin: 10px;
}
